extends ./layout/_layout.pug

block layoutVariables
  - const title = 'Index'

block content
  h1.test#toggleButton ハローワールド
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
  img(src=(require('@image/smart_phone.png')))
  div#js-accordion
    div#js-accordion-content
      p アコーディオン中身