// BasicColor
$primaryColor: #5674b9;
$secondaryColor: #fcd12a;
$accentColor: #e57373;
$warningColor: #ff6f00;
$successColor: #2e7d32;
$errorColor: #c62828;
$infoColor: #039be5;
$disabledColor: #cdcdcd;
$brightColor: #fff;
$secondaryBrightColor: #f5f5f5;
