@use "foundation";
@use "layout";
@use "@style/global" as g;

.test {
  color: g.$color-global;
  margin-top: map-get(g.$spaces, 10);
  background-image: url("@image/smart_phone.png");
  @include g.font-normal;
  @include g.flex-center;
}
